<h2 class="page-header">Dodaj ocenę</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/grade">
   <div class="form-group">
    <label>Imię</label>
    <input type="text" class="form-control" placeholder="Imię" name="name">
  </div>
  <div class="form-group">
    <label>Nazwisko</label>
    <input type="text" class="form-control" placeholder="Nazwisko" name="lastname">
  </div>
  <div class="form-group">
    <label>Klasa</label>
    <select class="form-control" name="klasa">
      <option value="1A">1A</option>
      <option value="1B">1B</option>
      <option value="1C">1C</option>
      <option value="1D">1D</option>
      <option value="2A">2A</option>
      <option value="2B">2B</option>
      <option value="2C">2C</option>
      <option value="2D">2D</option>
      <option value="3A">3A</option>
      <option value="3B">3B</option>
      <option value="3C">3C</option>
      <option value="3D">3D</option>
    </select>
  </div>
  <div class="form-group">
    <label>Ocena</label>
    <input type="number" step=0.5 min=1 max=6 class="form-control" placeholder="Ocena" name="grade">
  </div>
  <button type="submit" class="btn btn-default">Dodaj</button>